/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ~~~~~~~~~~~~~~~~~~~Global Styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

html {
  font-size: 16px;
}

body {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

h1 {
  margin: 0;
  padding: 60px 20px;
  font-size: 2.5em;
}
h3 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.5em;
}

h1,
h3,
h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

a {
  color: #e2e3ed;
  text-decoration: none;
  text-transform: uppercase;
}

img {
  width: 100%;
}
figure {
  margin: 0;
}
address {
  font-style: normal;
}

.features h3 {
  margin: 0;
  padding: 50px 20px;
}

/*****************************GENERAL HEADER ****************************/

header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: white;
  background-color: #202322;
}

#logo-image {
  min-width: 30%;
  max-width: 65%;
  margin-top: 30px;
}

a {
  color: white;
  display: flex;
  justify-content: center;
}
.main-nav {
  display: flex;
  justify-content: center;
  color: white;
  padding: 0;
}
.main-nav-group {
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0%;
  margin: 0;
}
.main-nav-item {
  display: flex;
  margin: 20px 50px;
}

/* ***********************Main Page *************************/

.hero {
  background: url(../img/jake-melara.jpg);
  background-size: cover;
  background-position: center;
  min-height: 600px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
/* Aside and form area*/
aside {
  background-color: #527158;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.sign-up {
  margin-top: 0;
  padding: 30px 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 30px;
  padding: 0 20px 50px;
}

label {
  margin: 10px 0;
}
input {
  margin: 10px 0;
  font-style: italic;
  color: #2a423a;
}
button {
  margin: 10px 0;
  color: white;
  background-color: #2a423a;
  line-height: 2em;
  text-transform: uppercase;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #e2e3ed;
  font-size: 1.125em;
  text-align: center;
}
/* End form styles */

/* ************************Features Styles *********************/

.features {
  background: url(../img/rawpixel.jpg);
  background-size: cover;
  background-position: center;
  min-height: 600px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  color: white;
}
.features h3 {
  text-align: center;
}
.content-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.features-item {
  margin: 50px;
}

.fa-icon {
  display: block;
  font-size: 3.75em;
  margin-bottom: 10px;
  text-align: center;
}

.review-wrapper {
  background-color: #2a423a;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.review-wrapper h3 {
  margin-left: 15px;
}

.reviews {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}

#review-image {
  max-width: 100%;
  margin: 20px;
}

.review-text {
  margin: 15px 15px 30px;
  align-self: flex-start;
}

/* ************************************FAQ PAGE ******************************************************/

.faq-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}
.faq-item p {
  margin: 5px 20px 20px 20px;
}

.faq-group {
  background-color: #527158;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}
.faq-group h1 {
  width: 90%;
  padding: 10px;
  margin: 20px 10px;
}

.faq-item h4 {
  margin: 20px 20px 5px 20px;
}

/********************************************** ABOUT**************************************************/
.mission {
  background-color: #527158;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.mission-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.mission-content p {
  margin: 20px 20px 50px 20px;
}

#our-mission {
  padding-bottom: 10px;
  line-height: 1.15;
}

.map-container figure {
  position: relative;
  padding-bottom: 125%;
  height: 0;
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-section {
  background-color: #2a423a;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.contact-section h1 {
  display: flex;
  padding-bottom: 15px;
}

.contact-col {
  margin: 10px 20px;
}

.content-col {
  display: flex;
}

/*****************************************FOOTER STYLES *******************************************/

.footer-content {
  background-color: #202322;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  text-align: center;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 200px;
  text-align: center;
  margin: 40px 0px 20px 0;
}

.social {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  min-width: 200px;
  justify-content: center;
  text-align: center;
  margin: 40px 0px;
}
.social p {
  margin: 0 auto;
  text-align: center;
}

.contact p {
  margin: 0 auto;
  text-align: center;
}

address {
  margin: 15px auto;
}
.social-icons {
}

.copyright {
  text-align: center;
  padding: 20px;
  background-color: #202322;
}
/* Animations */

.slit-in-diagonal-1 {
  -webkit-animation: slit-in-diagonal-1 0.45s ease-out both;
  animation: slit-in-diagonal-1 0.45s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-5-5 17:13:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slit-in-diagonal-1
 * ----------------------------------------
 */
@-webkit-keyframes slit-in-diagonal-1 {
  0% {
    -webkit-transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
    transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
    transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotate3d(1, 1, 0, 0);
    transform: translateZ(0) rotate3d(1, 1, 0, 0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes slit-in-diagonal-1 {
  0% {
    -webkit-transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
    transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
    transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotate3d(1, 1, 0, 0);
    transform: translateZ(0) rotate3d(1, 1, 0, 0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/***************************************** Media Queries *******************************************/
/* TABLET  and smaller */

@media screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
}

/* ``````````````````````````````````````````````Tablet Size and Larger `````````````````````````````````````*/

@media screen and (min-width: 768px) {
  .logo {
    min-width: 60%;
  }

  /*//////////////////////////////////HOME///////////////////////////////////////////*/
  .hero h1 {
    margin-left: 8%;
    text-align: left;
  }

  .sign-up h3 {
    margin-top: 0;
  }

  .sign-up {
    margin-left: 8%;
    width: 32%;
  }

  .form1 {
    width: 32%;
    margin-right: 8%;
  }

  .features h3 {
    text-align: left;
    margin-left: 8%;
  }

  .features-item {
    width: 25%;
  }
  .review-wrapper {
    align-items: flex-start;
  }

  .review-wrapper h3 {
    width: 80%;
  }

  #review-image {
    max-width: 35%;
    margin: 40px;
  }

  .review-text {
    max-width: 35%;
  }

  /*//////////////////////////////////   FAQ     ///////////////////////////////////////////*/
  .faq-item {
    max-width: 40%;
    justify-content: center;
    align-items: flex-start;
    margin-right: 20px;
  }
  .faq-group {
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 8%;
  }

  /*//////////////////////////////////    ABOUT    ///////////////////////////////////////////*/
  .mission-content {
    justify-content: space-around;
  }

  #our-mission {
    max-width: 90%;
    margin: 0;
    padding: 0;
  }
  .mission {
    padding: 80px 60px;
  }
  .mission-content p {
    width: 38%;
  }

  .map-container figure {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
  }

  .contact-col {
    width: 25%;
  }
  .social {
    width: 25%;
  }
  .contact-section {
    padding: 80px 60px;
  }
  .contact-section h1 {
    margin: 0;
    padding: 0;
  }
  .contact-col {
    width: 35%;
  }
  /*//////////////////////////////////    Footer   ///////////////////////////////////////////*/
  .content-wrapper h3 {
    width: 100%;
    text-align: center;
  }

  .contact-section h1 {
    display: flex;
    min-width: 90%;
  }
  .contact-section {
    justify-content: space-around;
  }
  .footer-content {
    justify-content: space-around;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Desktop only ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media screen and (min-width: 1100px) {
  .logo a {
    display: flex;
    justify-content: flex-start;
  }

  .logo img {
    display: flex;
    justify-items: flex-start;
    margin-left: 15%;
  }

  #logo-image {
    margin-bottom: 30px;
    max-width: 35%;
  }

  .main-nav-group {
    margin-left: 200px;
  }

  h1 {
    font-size: 3em;
  }

  h3 {
    font-size: 2.25em;
  }

  h5 {
    font-size: 1.5em;
  }

  .features-item {
    justify-content: center;
  }

  .hero h1 {
    margin-left: 0;
  }

  .sign-up {
    margin-left: 10%;
    width: 33%;
  }

  .form1 {
    width: 33%;
    margin-right: 10%;
  }
  .features h3 {
    margin-left: 12%;
    padding-left: 20px;
  }
  .features-item {
    width: 16.66%;
  }
  .content-wrapper {
    margin-left: 12%;
    margin-right: 12%;
  }
  .review-wrapper h3 {
    margin-left: 50px;
  }

  #review-image {
    margin-left: 140px;
  }
  .review-text {
    max-width: 45%;
  }

  .faq-item {
    margin-right: 0px;
    max-width: 450px;
  }
  .faq-group {
    padding: 80px 10%;
  }

  .mission-content p {
    margin: 40px 20px 50px 20px;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
